
ETH_PRIVATE_KEY=

# Get this from https://app.pinata.cloud/developers/api-keys
PINATA_JWT=
PINATA_GATEWAY='https://gateway.pinata.cloud'

#arbitrumSepolia or baseSepolia
CHAIN=arbitrumSepolia

DOMAIN=localhost

GMAIL_CLIENT_ID=
GOOGLE_USER=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=

# What signature would you like at the end of an email sent by your agent
AGENT_SIGNOFF=

FANGORN_MCP_URL=
ANTHROPIC_API_KEY=