
ETH_PRIVATE_KEY=

# Get this from https://app.pinata.cloud/developers/api-keys
PINATA_JWT=
PINATA_GATEWAY='https://gateway.pinata.cloud'

#arbitrumSepolia or baseSepolia
CHAIN=arbitrumSepolia

DOMAIN=localhost

USE_GMAIL=false
GMAIL_CLIENT_ID=
GOOGLE_USER=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=

# What signature would you like at the end of an email sent by your agent
AGENT_SIGNOFF=

FANGORN_MCP_URL="https://93d0-173-235-179-233.ngrok-free.app/mcp"
ANTHROPIC_API_KEY=

DATASOURCE_CONTRACT=0xddd338e6a200012642a103c6631ea92eea94cabe
USDC_CONTRACT=0x75faf114eafb1BDbe2F0316DF893fd58CE46AA4d
USDC_DOMAIN_NAME="USD Coin"
SCHEMA_CONTRACT=0xef6754c29cfd0c8937a080695899f2a9a23c7c70
SETTLEMENT_CONTRACT=0x5e918ba3fe33b0bdc68cd46eb6a77db754edef57
RESOURCE_SERVER_URL=https://facilitator-133282782456.us-central1.run.app
FACILITATOR_PUBKEY=0x147c24c5Ea2f1EE1ac42AD16820De23bBba45Ef6