ANTHROPIC_API_KEY=

USE_GMAIL=true
USE_MCP=true
USE_MEMORY=false
USE_FANGORN_TOOLS=true
USE_TASTE_TOOLS=true

ETH_PRIVATE_KEY=

# Get this from https://app.pinata.cloud/developers/api-keys
PINATA_JWT=
PINATA_GATEWAY='https://gateway.pinata.cloud'

#arbitrumSepolia or baseSepolia
CHAIN=arbitrumSepolia

DOMAIN=localhost


USDC_CONTRACT=0x75faf114eafb1BDbe2F0316DF893fd58CE46AA4d
USDC_DOMAIN_NAME="USD Coin"
RESOURCE_SERVER_URL="https://facilitator.fangorn.network"
FACILITATOR_PUBKEY=0x147c24c5Ea2f1EE1ac42AD16820De23bBba45Ef6

FANGORN_MCP_URL="https://mcp.fangorn.network/mcp"

GMAIL_CLIENT_ID=
GOOGLE_USER=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=

# What signature would you like at the end of an email sent by your agent
AGENT_SIGNOFF=